<?xml version="1.0"?>

<config>
	<modules>
		<Flagbit_Typo3connect>
			<active>true</active>
			<codePool>local</codePool>
			<version>0.1.0</version>
		</Flagbit_Typo3connect>
	</modules>
	<global>
		<models>
			<core>
				<rewrite>
					<layout>Flagbit_Typo3connect_Model_Layout</layout>
					<url>Flagbit_Typo3connect_Model_Url</url>
				</rewrite>
			</core>

			<catalog>
				<rewrite>
					<product_url>Flagbit_Typo3connect_Model_Product_Url</product_url>
					<url>Flagbit_Typo3connect_Model_Catalog_Url</url>
				</rewrite>
			</catalog>

			 
			<Flagbit_Typo3connect>
				<class>Flagbit_Typo3connect_Model</class>
				<resourceModel>typo3connect_entity</resourceModel>
			</Flagbit_Typo3connect>
			
			<!-- 
			<typo3connect_entity>
			    <class>Flagbit_Typo3connect_Model_Entity</class>
			    <entities>
			        <customer>
			            <table>fe_users</table>
			        </customer>
			    </entities>
			</typo3connect_entity>			

			<customer>
				<rewrite>
					<customer>Flagbit_Typo3connect_Model_Customer</customer>
				</rewrite>
			</customer>
			-->
		</models>
		
      <resources>
          <typo3connect_setup>
              <setup>
                  <module>Flagbit_Typo3connect</module>
              </setup>
              <connection>
                  <use>core_setup</use>
              </connection>
          </typo3connect_setup>
          <typo3connect_read>
              <connection>
                  <host><![CDATA[localhost]]></host>
                  <username><![CDATA[root]]></username>
                  <password><![CDATA[lingo]]></password>
                  <dbname><![CDATA[TYPO3ext_small_extensions_420]]></dbname>
                  <active>1</active>
                  <model>mysql4</model>
                  <type>pdo_mysql</type>
              </connection>          

          </typo3connect_read>
          <typo3connect_write>
              <connection>
                  <use>typo3connect_read</use>
              </connection>
          </typo3connect_write>
      </resources>		
		
		<events>
			<customer_login>
				<observers>
					<flagbit_typo3connect_login>
						<type>model</type>
						<class>Flagbit_Typo3connect_Helper_Login</class>
						<method>loginEvent</method>
					</flagbit_typo3connect_login>
				</observers>
			</customer_login>
			<customer_logout>
				<observers>
					<flagbit_typo3connect_logout>
						<type>model</type>
						<class>Flagbit_Typo3connect_Helper_Logout</class>
						<method>logoutEvent</method>
					</flagbit_typo3connect_logout>
				</observers>
			</customer_logout>			
		</events>		
	</global>
</config>
